
.container{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background: url(./project-1/img/background_2.jpg) no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  font-family: 'Creepster', cursive;
  font-size: 150px;
  color: #8E4A49;
  margin: 0;
}
button{
  display: block;
  margin: auto;
  height: 100px;
  margin-top: 5px;
  font-family: 'Creepster', cursive;
  font-size: 50px;
  opacity: 0.5;
}

.wrapperLeft{
 display: inline-block;
 width: 39%;
 text-align: center;
}
.wrapperRight{
  display: inline-block;
  width: 50%;
  /*text-align: center;*/
}

li{
  font-family: "Arial Rounded MT Bold";
}
