.container{
  width: 420px;
  margin: 0 auto;
  border: 1px solid red;
}
h1{
  text-align: center;
}
.wrapper{
  width: 320px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;;
}
.box{
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
#player{
  position: absolute;
  border: 1px solid pink;
  background-color: pink;
  width: 52px;
  height: 52px;
  border-radius: 9999px;
}

#mummy{
  position: absolute;
  border: 1px solid red;
  width: 52px;
  height: 52px;
  border-radius: 99999px;
  background-color: red;
}
.right{
  border-right: 1px solid red;
}
.top{
  border-top: 1px solid red;
}
.bottom{
  border-bottom: 1px solid red;
}
.left{
  border-left: 1px solid red;
}
.exit{
  border-right: 5px solid blue;
}
