body{
  width: 100%;
  height:100%;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  background: url(../images/backgroundforgame.jpg) center;
}
.header {
  text-align:center;
  font-weight: 700;
  font-size: 40px;
  padding: 20px 0px 20px 0px;
  letter-spacing: 20px;
  color: red;
  margin: 0px 10px 0px 10px;
}
.blue{
  color:blue;
}
.main {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}
.left{
  border: 2px solid black;
  width:25%;
  min-width: 320px;
  text-align: center;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6)
}
.instructionhead{
  text-decoration: underline;
  margin-top: 10px;
}
.instructions {
  font-weight: 400;
  text-align: left;
  font-size: 10px;
  margin: 0px 5px 5px 5px;
  padding-top: 20px;
  line-height: 18px;
}
.startbutton {
  height:30px;
  width:120px;
  font-size: 15px;
  border: 2px solid black;
  background-color: rgba(255,255,255,0.6);
  margin:0px auto 10px auto;
  display:inline-block;
  padding-top: 8px;
}
.startbutton:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}
.retrybutton {
  height:30px;
  width:120px;
  padding-top:8px;
  font-size:15px;
  border: 2px solid black;
  background-color: rgba(255,255,255,0.6);
  margin:0px auto 10px auto;
  display:inline-block;
  visibility: hidden;
}
.retrybutton:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}
ul {
  font-weight: 400;
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  margin: 0px 5px 0px -10px;
}
.center {
  border: 2px solid black;
  width: 50%;
  min-width: 640px;
  height:440px;
  display:flex;
  flex-direction: column;
}
.forest {
  width:100%;
  height: 380px;
  display:flex;
  flex-direction: column;
}
.trees-area {
  width:100%;
  height: 320px;
  position:relative;
}
.firsttree, .secondtree, .thirdtree, .fourthtree{
  background-image: url(../images/asteroid.png);
  height: 50px;
  width: 50px;
  position:absolute;
}
.firsttree{
  left:55px;
}
.secondtree{
  left:215px;
}
.thirdtree{
  left:375px;
}
.fourthtree{
  left:535px;
}
.firingzone{
  width: 640px;
  height: 20px;
  background-color: black;
  position:relative;
}
.firstfire, .secondfire, .thirdfire, .fourthfire {
  background-color: white;
  height:20px;
  width: 50px;
  position:absolute;
}
.firstfire {
  left: 55px;
}
.secondfire{
  left:215px;
}
.thirdfire{
  left:375px;
}
.fourthfire {
  left:535px;
}
.jack-area {
  background-color: rgba(255,255,255,0.4);
  width:640px;
  height:60px;
}
.jack {
  background-image: url(../images/Iron-Man.png);
  width:57px;
  height:57px;
  left:295px;
  margin-top: 3px;
  position: relative;
}

.timer {
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 20px;
  border-top: 2px solid black;
}
.countingdown {
  margin-top: -5px;
}
.right{
  border: 2px solid black;
  width: 20%;
  min-width:256px;
  margin-right: 0;
  text-align: center;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6)
}
footer{
  text-align: center;
  letter-spacing: 3px;
  margin-top: 20px;
  font-size: 10px;
  color:palegoldenrod;
}
a {
  transition: 1s;
  font-size: 20px;
}
a:visited {
  color:palegoldenrod;
}
a:hover {
  color: darkgoldenrod;
}
