body{
font-family: 'Spectral', serif;
}

.left{
  width: 70%;
  float: left;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.right{
  width: 25%;
  float: right;
  font-size: 15px;
  text-transform: uppercase;

  /*border: solid;*/
}

.rand{
  border: solid;
  padding: 50px;
  clear: both;
  /*position: relative;*/
}

#start, #reset{
  text-align: center;
  display: inline-block;
  padding: 10px;
  background-color: white;
}

.inputField{
  /*position: absolute;
  right: 730px;*/
  font-size: 25px;
  text-align: center;
/*display: flex;
justify-content: center;*/
}

#reset{
  display: inline-block;
  float:right;
  padding: 10px;
  background-color: white;

}

.score, .scorer, .time, .timer{
  display: inline-block;
  padding: 10px;
  text-align: right;
  font-size: 20px;
}

.timerscore {
  /*position: absolute;*/
  /*width:150px;*/
  /*display: flex;
  justify-content: space-around;
  align-items: flex-end;*/
  /*padding: 10px;*/
  width: 460px;
  float:right;
  text-align: right;
  /*display: inline;*/
  /*width: 70%;*/
    /*align-items: flex-end;*/
}

ul{
  list-style: none;
}

.combo{
  font-size: 30px;
  height:40px;
}
button{
  border-radius: 12px;
  border: 2px solid black;
}
/*.topScore{
  font-size: 25px;
  border-style: ridge;
  text-align: center;
}*/
