.container{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  /*border: 1px solid red;*/
  background: url(./img/background_3.jpg) no-repeat;
  background-size: cover;
}
h1,h2{
  text-align: center;
  font-family: 'Creepster', cursive;
  font-size: 50px;
  color: brown;
  margin: 0;
}

h2{
  font-size: 30px;
}

.wrapper{
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
}
.box{
  border: 1px solid rgba(245,245,245,0.5);
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}

/*.function {
  text-align: center;
}*/

/*.function > button {
  display: inline-block;
}*/

#player{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(./img/player_1.png);
  background-size: cover;
  left: 0;
  top: 0;
  /*transition: left 0.5s, top 0.5s;*/
}

#mummy{
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(./img/tinyMummySprite.png);
  background-size: cover;
  left: 0;
  top: 0;
  /*transition: left 0.1s, top 0.1s;*/
  /*animation: mymove 5s;
  animation-delay: 2s;*/
}
.right{
  border-right: 2px solid brown;
  box-sizing: border-box;
}
.top{
  border-top: 2px solid brown;
  box-sizing: border-box;
}
.bottom{
  border-bottom: 2px solid brown;
  box-sizing: border-box;
}
.left{
  border-left: 2px solid brown;
  box-sizing: border-box;
}
.exitLeft{
  border-left: 5px solid blue;
}
.exitRight{
  border-right: 5px solid blue;
}
.exitTop{
  border-top: 5px solid blue;
}
.exitBottom{
  border-bottom: 5px solid blue;
}
button{
  display: block;
  margin: auto;
  height: 30px;
  margin-top: 5px;
}
#nextLevel{
  display: none;
}
