body{
  width: 100%;
  height:100%;
  margin: 0 auto;
  font-family: 'Space Mono', monospace;
}
.header {
  background: url(../images/leaves.jpg) center;
  text-align:center;
  font-weight: 700;
  font-size: 40px;
  padding: 20px 0px 20px 0px;
  letter-spacing: 20px;
  color: ghostwhite;
}
.main {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(177, 91, 48);
}
.left{
  border: 2px solid black;
  width:25%;
  min-width: 320px;
  text-align: center;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6)
}
.instructions {
  font-weight: 400;
  text-align: left;
  font-size: 15px;
  margin: 0px 5px 5px 5px;
}
ul {
  font-weight: 400;
  text-align: left;
  font-size: 15px;
  margin: 0px 5px 0px -10px;
}
.center {
  border: 4px solid black;
  width: 50%;
  min-width: 640px;
  height:440px;
  display:flex;
  flex-direction: column;
}
.gameplay {
  background-color: white;
  width:100%;
  height: 380px;
  display:flex;
}
.leftarrowpanel, .rightarrowpanel {
  width: 20%;
  height:440px;
  background-color: lightgrey;
}
.leftarrow, .rightarrow {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 60px;
  margin: 150px 0px 0px 8px;
  background-color: white;
}
.rightarrowtext {
  margin-left:26px;
}
.sky {
  width:60%;
  height:440px;
  display:flex;
  flex-direction: column;
  background-color: skyblue;
}
.mainaction{
  height:340px;
  display:inline;
}
.left-branch, .right-branch {
  height:20px;
  width: 150px;
  background-color: goldenrod;
  position:relative;
}
.right-branch {
  top: 180px;
  left:17px;
}
.left-branch {
  top: 100px;
  left: 217px
}
.jack{
  height:60px;
  width:30px;
  background-color: red;
  position:relative;
  left: 127px;
  top: 240px;
}
.trunk {
  height:340px;
  width:50px;
  background-color:saddlebrown;
  position:relative;
  left:167px;
  top: -100px;
}
.grass {
  height:100px;
  background-color: lawngreen;
}
.timer {
  background-color: ghostwhite;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 20px;
}
.countingdown {
  margin-top: -5px;
}
.right{
  border: 2px solid black;
  width: 20%;
  min-width:256px;
  margin-right: 0;
  text-align: center;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6)
}
footer{
  background: url(../images/pattern.gif) center;
  text-align: center;
  letter-spacing: 3px;
  padding: 10px 10px 2px 10px;
  color:palegoldenrod;
}
a {
  transition: 1s;
  font-size: 20px;
}
a:visited {
  color:palegoldenrod;
}
a:hover {
  color: darkgoldenrod;
}
.moveright{

}
.moveleft{

}
.movedown{

}
