body {
  text-align: center;
  background-color: lightgrey;

}
img {
display: block;
  width: 55%;
  margin: 0 auto;
}
h3 {
  width: 500px;
  margin: 0 auto;
}
.timer-countdown {
font-size: 2rem;
}

 button {
   display: block;
   padding: 20px;
   background-color: grey;
 }

 .buttons {
   display: flex;
   justify-content: center;
 }


 .modal, .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content2 {
text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
