body {
	height: 100vh;
	width: 100vw;
	background-color: #E0E0FB;
}

.gameBoard {
	height: 1000px;
	width: 1024px;
	margin: 20px auto;
}

.gameTopSection {
	height: 250px;
	width: 1024px;
	font-family: 'Orbitron', sans-serif;
}

.gameTitle {
	height: 70px;
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Vollkorn SC', serif;
}

.playerOne {
	display: inline-block;
	border: 2px solid black;
	height: 150px;
	width: 290px;
	padding: 0px;
	margin-left: 8px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	background-color: #8A8AEF;
}

.statusMenu {
	display: inline-block;
	position: relative;
	border: 2px solid black;
	height: 150px;
	width: 400px;
	padding: 0px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	background-color: #8A8AEF;
}

.timerDisplay {
	position: absolute;
	height: 50px;
	width: 400px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold italic;
}

.playerScore {
	position: absolute;
	height: 50px;
	width: 290px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold italic;
}

.playerTwo {
	display: inline-block;
	border: 2px solid black;
	height: 150px;
	width: 290px;
	padding: 0px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	background-color: #8A8AEF;
}

#mainBoard {
	display: block;
	height: 700px;
	width: 580px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(224,224,251,0.4);
}

.reset {
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -100px;
	height: 40px;
	width: 200px;
	font-size: 20px;
	border: 0.5px solid black;
	font-family: 'Orbitron', sans-serif;
}

img {
	padding: 10px;
	height: 100px;
	width: 100px;
}

.card {
	display: inline-block;
	height: 120px;
	width: 120px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
 	transition: all 0.5s linear;
 	-webkit-transition: all 0.5s linear;
 	perspective: 500px;
}

.flipped {
	transform: rotateY(180deg);
}

.face {
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.face.back {
	display: block;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.front {
 /* Fix for Firefox backface compatibility */
	transform: rotateX(0deg);
}

.footerBar {
	background-color: #091534;
	height: 30px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

p {
	color: #678FFE;
	font-family: 'Vollkorn SC', serif;
}

#viewed {
	display: inline-block;
	text-align: center;
	margin: 5px 10px;
}

.modalContent {
	position: absolute;
	left: -2px;
	top: -2px;
	border: 2px solid black;
	background-color: white;
	margin: auto;
	height: 150px;
	width: 400px;
}

.openModal {
	animation-name: animatetop;
	animation-duration: 1s;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1s;
}

@keyframes animatetop {
	from { top: -100px; opacity: 0}
	to { top: -2px; opacity: 1}
}

@-webkit-keyframes animatetop {
	from { top: -100px; opacity: 0}
	to { top: -2px; opacity: 1}
}

.closeModal {
	animation-name: animateout;
	animation-duration: 1s;
	-webkit-animation-name: animateout;
	-webkit-animation-duration: 1s;
}

@keyframes animateout {
	from { top: -2px: opacity: 1}
	to { top: -100px; opacity: 0}
}

@-webkit-keyframes animateout {
	from { top: -2px: opacity: 1}
	to { top: -100px; opacity: 0}
}

.modalHeader {
	display: inline-block;
	height: 50px;
	width: 360px;
}

#closeBtn {
	display: inline-block;
	height: 50px;
	width: 40px;
	padding: 0px;
}

.modalBody {
	height: 50px;
	width: 400px;
}

.modalFooter {
	height: 50px;
	width: 400px;
}

#prompt {
	display: none;
}

@media(max-width: 600px) {

	#mainBoard {
		height: 750px;
		width: 750px;
	}

	.card {
		height: 160px;
		width: 160px;
		padding: 10px;
	}

  img {
		height: 150px;
		width: 150px;
		padding: 10px;
  }

}
