.container {
  padding: 20px 200px;
  font-family: helvetica, sans-serif;
  /*visibility: hidden;*/
}

button {
  margin: 0 420px;
  width: 201px;
  height: 124px;
  background-color: gold;
  font-family: helvetica, sans-serif;
  font-size: 47px;
  color: blue;
  border-radius: 10px;
  animation-name: blinker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; color: blue;
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.6; }
  100% { opacity: 1.0; }
}
