#red {
  background-color: red;
  height: 1000px;
  width: 24%;
  display: inline-block;
}

#green {
  background-color: green;
  height: 1000px;
  width: 24%;
  display: inline-block;
}

#blue {
  background-color: blue;
  height: 1000px;
  width: 24%;
  display: inline-block;
}

#yellow {
  background-color: yellow;
  height: 1000px;
  width: 24%;
  display: inline-block;
}

#black {
  background-color: black;
  height: 1000px;
  width: 100px;
  display: inline-block;
}
