.container {
  display: flex;
  justify-content: left;
}

.gameWrapper {
  width: 800px;
  height: 730px;
}

.gameBoard {
  width: 800px;
  height: 630px;
  border: 3px solid black;
  position: absolute;
  display: inline-block;
}

.info {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.aside {
  /*width: 200px;*/
  display: inline-block;
  padding: 0 50px;
}

.hitpointsDiv {
  display: inline-block;
}

.scoreDiv {
  display: inline-block;
  /*float: right;*/
}

.footer {
  height: 40px;
}
