body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

table {
  text-align:left;
}

.bg {
  background-image: url("../images/bg4.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.container {
  border: 1px solid red;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

.wrapper-top {
  width: 1000px;
  height: 100px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

td {
  max-width: 50px;
  max-height: 50px;
  position: relative;
  font-family: , Helvetica, sans-serif;
  font-weight: bold;
}

.player1, .player2 {
  position: absolute;
  top: 10%;
  left: 15%;
}

.pig {
  width: 50px;
  height: 50px;
  background: url('../images/pig.png');
  animation: pig 2s steps(4) infinite;
}

@keyframes pig {
  100% {background-position: -209px;}
}

.lupid {
  width: 50px;
  height: 50px;
  background: url('../images/lupid.png');
  animation: monkey 2s steps(10) infinite;
}

@keyframes monkey {
  100% {background-position: -498px;}
}

button {
  float: right;
}

.wrapper1 {
  position: relative;
  display: inline-block;
}

#overlay {
  margin-left: 20px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: url('../images/LaddersSnakes.png');
  background-repeat: no-repeat;
}

.wrapper2 {
  display: inline-block;
  width: 330px;
  height: 565px;
  margin-left: 30px;
  border-radius: 10px;
}

.right-section {
  min-width: 280px;
  min-height: 180px;
  background-image: url('../images/images.jpg')
}
.top-row {
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.top-row button {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #D2B48C;
}

.reset , .sound , .auto-play {
  padding: 0px;
}

.sound {
margin-left: 80px;
}

.auto-play {
margin-right: 70px;
}

.mission {
  position: absolute;
  font-family: KGOnlyHope, Helvetica, sans-serif;
  font-size: 27px;
  top: 50px;
  width: 250px;
  left: 45px;
  word-spacing: 1px;
}

.gold {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 5px;
  top: 90px;
}

@font-face {
  font-family: KGOnlyHope;
  src: url(../fonts/KGOnlyHope.ttf);
}

.middle-row {
  position:relative;
}

.turn, h3 , .circle {
  position:absolute;
}

h3 {
  word-spacing: 5em;
  left: 77px;
  top: 0px;
}

.p1Turn {
  left: 60px;
  top: 50px;
}

.p2Turn {
  left: 160px;
  top: 55px;
}

.circle {
  left: 25px;
  top: 30px;
}

.bottom-row {
  position:relative;
  height: 210px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dieValue {
  position: absolute;
  border-radius: 5px;
  border: 3px solid #75CD65;
  width:52px;
  height: 42px;
  padding:10px 10px 20px 10px;
  font-size:44px;
  background:#F5F5F5;
  top: 60px;
  left: 115px;
  text-align:center;
  }

.dieButton {
  position: absolute;
  border-radius: 5px;
  width:52px;
  padding:1px;
  font-size:14px;
  background:#F5F5F5;
  top: 25px;
  left: 127px;
  border: 1px solid blue;
  text-align:center;
}
