.container {
  /*background-color: yellow;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
}
body {
  /*background-image: url("/assets/images/stock.jpeg");*/
  background-repeat: no-repeat;
  background-position: left;
}

.topcontent {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leftcontent {
  /*border: 2px solid black;*/
  width: 40%;
  height:  auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerscore {
  width: 70%;
  height: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.timer {
  background-color: orange;
  height:120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  background-color: orange;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list .ul {
  width: 700px;
}

.leftmiddlecontent {
  /*background-color: orange;*/
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.userinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightcontent {
  /*background-color: green;*/
  /*border: 2px solid black;*/
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottomcontent {
  /*background-color: teal;*/
  /*border: 2px solid black;*/
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbun {
  background-image: url("/assets/images/topbuns.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 84px;
  background-size: contain;
  margin: -10px 20px;
}
.botbun {
  background-image: url("/assets/images/botbuns.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 75px;
  background-size: contain;
  margin: -20px 20px;
}

.cucumber {
  background-image: url("/assets/images/cucumber.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 55px;
  background-size: contain;
  margin: -10px 20px -30px 20px;
  display: flex;
  align-items: flex-end;
}
.meat {
  background-image: url("/assets/images/pattys.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 70px;
  background-size: contain;
  margin: -25px 20px -15px 20px;
  display: flex;
  align-items: flex-end;
}
.onion {
  background-image: url("/assets/images/onions.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 58px;
  background-size: contain;
  margin: -30px 20px;
  display: flex;
  align-items: flex-end;
}
.lettuce {
  background-image: url("/assets/images/lettuces.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 88px;
  background-size: contain;
  margin: -50px 20px -20px 20px;
  display: flex;
  align-items: flex-end;
}
.cheese {
  background-image: url("/assets/images/cheeses.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 70px;
  background-size: contain;
  margin: -25px 20px -35px 20px;
  display: flex;
  align-items: flex-end;
}

#u1, #d1 {
  z-index: 9;
}
#u2, #d2 {
  z-index: 8;
}
#u3, #d3 {
  z-index: 7;
}
#u4, #d4 {
  z-index: 6;
}
#u5, #d5 {
  z-index: 5;
}
#u6, #d6 {
  z-index: 4;
}
#u7, #d7 {
  z-index: 3;
}
