h1 {
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-size: 54px;
}

h2 {
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-size: 28px;
}

p.Intro {
  text-align: center;
  font-family: helvetica, sans-serif;
}

p.GameMessage {
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 48px;
}


.GamePanel {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.MessageConsole {

}

.Col1, .Col2, .Col3, .Col4 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  min-height: 1200px;

}

.Col1, .Col3 {
  background-color:#d9d9d9;
}

.Col2, .Col4 {
  background-color:#f2f2f2;
}

img {
  align-content: center;
}
