.background{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 1400px 800px;
  overflow: hidden;

}

h2, h3, h5 {
  font-family: 'Parisienne', cursive;
  font-size: 25px;
  color: #995129;
  background: rgba(255,255,255,0.8);
  border-radius: 20px;
  border: 1px white solid;
  margin: 20px 20px;
  padding: 5px;
}

h1 {
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 109px;
  color: white;
  height: 126px;
  margin: 10px 20px 1px 20px;
}

#instructionscontainer {
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 34px;
  position: relative;
  text-align: center;
}

#instructionslink {
  /* font-size: 1.1em; */
  padding: 0;
}

#instructionslink:hover {
  cursor: pointer;
}

#instructionstext {
  background-color: #995129;;
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 0.8em;
  display: none;
  padding: 0.5% 0;
  position: relative;
  z-index: 1000;
  border-radius: 15px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  background: rgba(255,255,255,1);
  position: absolute;
  top: 195px;
  border-radius: 28px;
  font-family: 'Parisienne', cursive;
  color: #D2B895;
  font-size: 30px;
  padding: 5px 10px;
  text-decoration: none;
  outline: 0;
  border: 2px white solid;
}

button:hover {
  background: #685031;
  text-decoration: none;
}

.timer{
  font-family: 'Parisienne', cursive;
  font-size: 25px;
  color: #995129;
  background: rgba(255,255,255,0.8);
  border-radius: 20px;
  border: 1px white solid;
  margin: 20px 20px;
  padding: 5px 30px;
  margin-bottom: -69px;
  font-weight: 200;
}

.clearfix {
    overflow: auto;
}

.playerScoreBoard {
  margin-top: -103px;
  margin-bottom: -29px;
}

#player1 {
  float:left;
  margin: -8px 155px;
}

.player1 {
  text-align: center;
}

#player2 {
  float:right;
  margin: -8px 155px;
}

.player2 {
  text-align: center;
}

.player2-score, .player1-score {
  text-align: center;
  margin-top: -0.5em;
}

.playerTurnNow {
  margin-bottom: -6px;
  margin-top: 105px;
}

#memoryBoard {
  width: 764px;
  height: 619px;
  padding: 10px;
  margin-top: 12px;
  border-radius: 25px;
  box-sizing: border-box;
}

#memoryBoard > div {
  display: inline-flex;
  width: 130px;
  height: 130px;
  margin: 8px;
  padding: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}

img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #433220;
  border-radius: 10px;
  width: 130px;
  height: 130px
}

.avoid-clicks {
  pointer-events: none;
}
