
.half {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  float: left;
}

#ball1 {
  background-color: blue;
  top: 40px;
  left: 160px;
}

#ball2 {
  background-color: red;
  top: 20px;
  left: 30px;
}

#clear {
  clear: both;
}

.balls {
  border-radius: 99px;
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  float: left;
  margin: 0;
  transition: all 0.5s ease-out;
}
