
h2, h3 {
  font-family: 'Sunshiney', cursive;
}
h2{
  font-size: 45px;
  color: #7cb2cc;
  text-shadow: -1px 0 #FDFDFD, 0 1px #FDFDFD, 1px 0 #FDFDFD, 0 -1px #FDFDFD;
}
h3{
  font-size: 40px;
  color: #FDFDFD;
  text-shadow: -1px 0 #7cb2cc, 0 1px #7cb2cc, 1px 0 #7cb2cc, 0 -1px #7cb2cc;
}

body{
  width: 90%;
  background-image: url('../img/grey-polka-dot.jpg');
  background-size:contain;
  background-repeat: repeat;
  align-content: center;
  margin: 0 auto;
}
header{
  width: inherit;
  height: 110px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 80px;
  text-shadow: -3px 0 pink, 0 3px pink, 3px 0 pink, 0 -3px pink;
  font-weight: bold;
  vertical-align: middle;
  color:#FDFDFD;
  padding-top: 10px;
}
.container{
  text-align: center;
  display: block;
  width: 880px;
  height: 760px;
  margin: 0 auto;

}
.left{
  text-align: center;
  display: inline-block;
  float: left;

}
.gridbox{
  display: inline-block;
  background-color: rgba(255,255,255,0.3);
  border: 3px solid #5E6A7A;
  border-radius: 20px;

}

.characterFinal{
  background-size: contain;
  background-repeat: no-repeat;
}

.right{
  width:280px;
  height: 760px;
  display: inline-block;
  float:left;
  text-align: center;
}
.scoreTotal{
  width:200px;
  height: 60px;
  background-color: #5E6A7A;
  vertical-align: middle;
  color:white;
  font-size: 35px;
  line-height: 60px;
  display: inline-block;
  border-radius: 25px;
}
.timer{
  width:200px;
  height: 70px;
  background-color: #5E6A7A;
  vertical-align: middle;
  color:white;
  font-size: 40px;
  line-height: 70px;
  display: inline-block;
  border-radius: 25px;
}
.noMove{
  text-align:center;
  color: black;
  vertical-align: middle;
}
.noMoveText {
  color: black;
  font-size: 45px;
}
button{
  width: 130px;
  height: 50px;
  border-radius: 20px;
  display: inline-block;
  font-size: 22px;
  background-color: #AECFDF;
  color: white;
}

.box{
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 1px;
  box-sizing: border-box;
}
/* below class related to element*/
.instruction{
  margin-top: 140px;
  float:left;
  width:50px;
  display: none;
}
.instructionBtn{
  margin-top:20px;
  width:35px;
  height:35px;
  float:left;
}
.character{
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in
  width:inherit;
  height:250px;

}
.noMove{
  position:absolute;
  top: 300px;
  left: 480px;

}

.c1{
  background: url("../img/ice-cream.png");
  background-size: cover;
}

.c2 {
  background: url('../img/chocolatecake.png');
  background-size: contain;
}

.c3 {
  background: url("../img/greencupcake.png");
  background-size: contain;
}

.c4{
  background: url("../img/rainbowcake.png");
  background-size: contain;
}

.c5{
  background: url("../img/strawberryparfait.png");
  background-size: cover;
}
.c6{
  background: url("../img/redvelvet.png");
  background-size: cover;
}
