#drawCard {
    height: 80px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: green;
    position: absolute;
    left: 750px;
    top: 335px;
    border: 1px solid black;
    font-size: 125%;
    text-align: center;
    /*vertical-align: middle;*/
    line-height: 100px;
}

#endTurn {
    height: 80px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: red;
    position: absolute;
    left: 850px;
    top: 335px;
    border: 1px solid black;
    font-size: 125%;
    text-align: center;
    line-height: 100px;
}

.dealer1,.dealer2,.dealer3,.dealer4,.dealer5,.third,.forth,.fifth {
  width:175px;
  height:248px;
}


#playerHand {
  height: 246px;
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  margin-bottom: none;
  background-color: white;
  position: absolute;
  left: 10px;
  top: 85px;
  border: 1px solid black;
  /*font-size: 250%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;*/
  background-image: url(image2url);
}



#box1 {
  border-radius: 60%;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: white;
    position: absolute;
    left: 1000px;
    top: 100px;
    border: 1px solid black;
    font-size: 250%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#box2 {
  border-radius: 60%;
    height: 102.5px;
    width: 102.5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: #F0E68C;
    position: absolute;
    left: 1125px;
    top: 100px;
    border: 1px solid black;
    font-size: 250%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#box3 {
  border-radius: 60%;
    height: 105px;
    width: 105px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: yellow;
    position: absolute;
    left: 1000px;
    top: 225px;
    border: 1px solid black;
    font-size: 250%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#box4 {
  border-radius: 60%;
    height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: #D2691E;
    position: absolute;
    left: 1125px;
    top: 225px;
    border: 1px solid black;
    font-size: 250%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#box5 {
  border-radius: 60%;
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: gold;
    position: absolute;
    left: 1000px;
    top: 350px;
    border: 1px solid black;
    font-size: 250%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#box6 {
    height: 150px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    background-color: white;
    position: absolute;
    left: 950px;
    top: 500px;
    border: 1px solid black;
    font-size: 250%;
    /*text-align: center;
    vertical-align: middle;*/
    line-height: 100px;
}
