.productSpace {
  width: 600px;
  height: auto;
  padding: 5px;
  border: 3px solid black;
  text-align: center;
}

#submit-name {
  font-size: 18px;
  margin: 10px;
}

li {
  font-size: 10px;
}

.result {
  width: 600px;
  text-align: center;
  height: auto;
  padding: 5px;
}

.playerInputs {
  position: absolute;
  left: 650px;
  top: 111px;
  border: 1px solid black;
  width: 500px;
  text-align: center;
}

.container {
  width: 1200px;
  height: 600px;
}

body {
  margin: 20px;
}

p {
  margin: 0px 13px 13px 13px;
}

.player1Div, .player2Div {
  width: 200px;
  margin: 16px;
  float: left;
}

.instructions {
  margin-top: 10px;
  width: 600px;
  height: auto;
  border: 3px solid black;
  text-align: center;
  padding: 5px;
}

#player-2name, #player-1name, #submit-name {
  font-size: 20px;
}

#reveal, #nextProduct {
  margin-top: 20px;
  font-size: 20px;
  background-color: yellow;
  border-color: red;
  font-family: 'Share Tech Mono', monospace;
}

h1, h2, h4, p {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px
}

#player-1, #player-2 {
  border: 5px solid #2ECC71;
  font-size: 20px;
  margin: 10px;
}
/*#player-1 {
  position: relative;
  top:-19px;
}

#submit-1 {
    position: relative;
    top: -19px;
}

.print1Guess{
    position: relative;
    top: -38px;
}*/

/*.text {
  /*white-space: nowrap;*/
  /*font-size: 16px;*/
  /*position: absolute;*/
  /*text-align: center;
  width: 90%;*/
  /*margin: 0 auto;*/
  /*margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Share Tech Mono', monospace;

}*/
