body{
  background-color: black;
    color: white;
    max-width: 1700px;
    max-height: 840px;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
}
.container{
  /*border: 3px solid red;*/
  height:840px;
}
.topContainer{
  /*border: 2px solid lightblue;*/
  height: 88%;
  background-image: url(../images/background.png);
  background-size: contain;
}
#restart{
  background-image: url(../images/buttons.png);
  width: 170px;
  height: 87px;
  background-position: 31% 46.5%;
  border: none;
  position: relative;
  top: 40px;
  border-radius: 10px;
}
.levelOneGameEnd{
  position: absolute;
  text-align: center;
  left: 560px;
  top:200px;
  background-image: url(../images/bossLevel.png);
  width: 435px;
  height: 100px;
  visibility: hidden;
}
.maplestoryImage{
  background-image: url(../images/maplestory.png);
  width: 500px;
  height: 100px;
  position: relative;
  top: 80px;
  left: 540px;
}
.instructions{
  font-family: 'Lekton';
  text-align: center;
  position: relative;
  top: 150px;
  left: 400px;
  width: 800px;
}
.won{
  background-image: url(../images/congratulations.png);
  width: 830px;
  height: 80px;
  position: absolute;
  left: 400px;
  top: 50px;
  /*visibility: hidden;*/
}
/*.gameOver{
  background-image: url(../images/gameOver.png);
  width: 570px;
  height: 80px;
  visibility: hidden;

}*/
.bottomContainer{
  border: 0px;
  height: 12%;
  background-image: url(../images/healthBarTest.png);
  background-size: contain;
  position: relative;
}

.landingScreen{
  z-index: 9;
  background-image: url(../images/landingPage.jpg);
  height: 700px;
  width: 1550px;
  margin: 50px;
  background-size: cover;
  background-position: bottom;
  float: left;
  position: relative;
  visibility: visible;
  border-radius: 20px;
}
.projectile{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 620px;
  left:150px;
  transition: 0.5s;
  background-image: url(../images/bullet.png);
  background-position: 16% 15%;
  /*visibility: hidden;*/
}
.miniMap{
  position: absolute;
  width: 440px;
  height: 200px;
  background-image: url(../images/minimap.png);
  border-radius: 10px;
}
.skillOne{

  background-image: url(../images/skill1.gif);
  width: 657px;
  height: 346px;
  position: absolute;
  left: 400px;
  top: 400px;
  visibility: hidden;
}
.skillTwo{
  background-image: url(../images/skill2.gif);
  width: 575px;
  height: 346px;
  position: absolute;
  left: 450px;
  top: 400px;
  visibility: hidden;
}
.skillThree{
  background-image: url(../images/skill4.gif);
  width: 600px;
  height: 306px;
  position: absolute;
  left: 450px;
  top: 360px;
  visibility: hidden;
}
.player{
  z-index: 1;
  height: 110px;
  width: 60px;
  /*border: 2px solid green;*/
  position: absolute;
  top: 560px;
  left:50px;
  transition: 0.8s;
  background: url(../images/playerModel.png);
  animation: playerPlay 3s steps(4) infinite;
  animation-play-state: paused;
}
.mob{
  /*border: 1px solid yellow;*/
  position: absolute;
  top: 505px;
  width: 180px;
  height: 170px;
  transition: 10s;
  background: url(../images/stoneGolem.png);
  animation: mobPlay 2s steps(4) infinite;

}
.mobRight{
  /*border: 1px solid yellow;*/
  position: absolute;
  top: 505px;
  width: 180px;
  height: 170px;
  transition: 10s;
  background: url(../images/stoneGolemRight.png);
  animation: mobPlayRight 4s steps(4) infinite;

}
.hpBar{
  position: absolute;
  text-align: center;
  color: white;
  left: 747px;
  top: 39px;
  width: 200px;
  height: 14px;
  border-radius: 4px;
  background-color: red;
}
.mpBar{
  position: absolute;
  text-align: center;
  color: white;
  left: 747px;
  top: 59px;
  width: 202px;
  height: 14px;
  border-radius: 4px;
  background-color: #4AC9DD;
  border-color: white;
  border: 1px;
}

.boss{
  width: 250px;
  height: 320px;
  position: absolute;
  top: 390px;
  left: 100px;
  transition: ease-out 20s;
  background: url(../images/boss.png);
  animation: bossOne 1s steps(8) infinite;
}
.bossRight{
  width: 250px;
  height: 320px;
  position: absolute;
  top: 390px;
  left: 100px;
  transition: ease-out 20s;
  background: url(../images/bossRight.png);
  animation: bossRight 1s steps(8) infinite;
}

@keyframes bossOne {
  0% {
   background-position: 0% 0%;
 }
 100% {
   background-position: 34% 0%;
 } }
 @keyframes bossRight {
   0% {
    background-position: 66% 0%;
  }
  100% {
    background-position: 100% 0%;
  } }

@keyframes mobPlayRight {
  0% {
   background-position: 100% 22%;
 }
 100% {
   background-position: 54% 22%;
 } }
@keyframes mobPlay {
  0% {
   background-position: 0% 22%;
 }
 100% {
   background-position: 46% 22%;
 } }


@keyframes playerPlay {
  0% {
   background-position: 55% 35%;
 }
 100% {
   background-position: 85.1% 35%;
 }
}
