body {
  text-align: center;
  background: #FFFDE5;
  width: 100%;
}

h1 {
  font-family: "Luckiest Guy";
  font-size: 50px;
  margin: 10px auto;
}

h3 {
  font-size: 20px;
  margin: 5px auto;
  font-family: 'Roboto';
}

.startGameOverlay {
  position: fixed;
  left: 480px;
  top: 10px;
  height: 100%;
  width: 500px;
  overflow: hidden;
  background: #FFFDE5;
  z-index: 1;
}

ol {
  font-size: 30px;
  font-family: 'Roboto';
  margin: 0 auto;
  text-align: left;
}

li {
  margin: 20px auto;
}

.startGameButton {
  color: green;
  margin: 50px auto;
  font-size: 70px;
}
.startGameButton:hover {
  font-size: 72px;
}

.endGameOverlay {
  position: fixed;
  left: 480px;
  top: 10px;
  height: 0px;
  width: 500px;
  z-index: 99;
  overflow: hidden;
  background: #FFFDE5;
  vertical-align: top;
}

.restart {
  color: green;
  font-size: 70px;
}
.restart:hover {
  font-size: 72px;
}

.ingredients {
  width: 200px;
  height: 100px;
  background-size: cover;
  position: absolute;
  left: 150px;
}

.buttons div {
  width: 150px;
  height: 100px;
  margin: 10px 5px;
  display: inline-block;
  font-size: 40px;
  border-radius: 10%;
}

.buttons div:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.buttons img {
  width: 100%;
  height: 100%;
}

#bottombun {
  background-image: url("../assets/images/bottombun.png");
  bottom: 30px;
}

#patty {
  background-image: url("../assets/images/patty.png");
}

#cheese {
  background-image: url("../images/cheese.png");
  margin-bottom: -10px;
}

#lettuce {
  background-image: url("../images/lettuce.png");
  margin-bottom: -10px;
}

#onion {
  background-image: url("../images/onion.png");
  margin-bottom: -10px;
}

#tomato {
  background-image: url("../images/tomato.png");
}

#topbun {
  background-image: url("../images/topbun.png");
}

.left-content {
  width: 400px;
  height: 100%;
  display: inline-block;
  border: 2px solid black;
  margin: 0px 25px;
  background: #FFFACE;
}

.serveButton {
  width: 320px;
  height: 120px;
  border: 2px solid black;
  margin: 10px auto;
}

.serveButton h1 {
  margin: 35px auto;
  font-size: 80px;
  color: green;
  /*animation: neon 1.5s linear infinite alternate;*/
}

/*@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2bff00, 0 0 70px #2bff00, 0 0 80px #2bff00, 0 0 100px #2bff00, 0 0 150px #2bff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2bff00, 0 0 35px #2bff00, 0 0 40px #2bff00, 0 0 50px #2bff00, 0 0 75px #2bff00;
  }
}*/

.timer {
  width: 320px;
  height: 120px;
  margin: 20px auto;
  border: 2px solid black;
  padding-top: 30px;
}

.middle-content {
  width: 500px;
  height: 768px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.right-content {
  width: 400px;
  height: 100%;
  border: 2px solid black;
  margin: 0px 25px;
  background: #FFFACE;
  display: inline-block;
}

.order {
  width: 320px;
  height: 500px;
  border: 2px solid black;
  margin: 0 auto;
}

.scorebox {
  width: 320px;
  height: 120px;
  margin: 20px auto;
  border: 2px solid black;
  padding-top: 30px;
}
